@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* input:-webkit-autofill {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #aeaeae !important;
    @apply !border-[#aeaeae];
}

input:-webkit-autofill:focus {
    @apply !border-dsl-blue;
} */

html {
    scroll-behavior: smooth;
}

.swal2-actions {
    @apply w-full block px-8 font-inter font-normal;
}

.swal2-confirm {
    @apply py-4 bg-dsl-blue;
}

*::-webkit-scrollbar {
    display: none;
    /* Hide scrollbar in Webkit-based browsers */
}

.hide-number-arrows::-webkit-outer-spin-button,
.hide-number-arrows::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.hide-number-arrows {
    -moz-appearance: textfield;
}